@namespace CommonLibraryP.MachinePKG.Component

@rendermode RenderMode.InteractiveServer
@implements IDisposable
@inject IStringLocalizer<MachineLanguage> localizer
@inject MachineService machineService

@if (hasMachine)
{
    <DxGridLayout ColumnSpacing="3rem" RowSpacing="1rem">
        <Rows>
            <DxGridLayoutRow Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="4fr"></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="8fr"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Row="0" Column="0">
                <Template>
                    <DxFormLayout CaptionPosition="CaptionPosition.Vertical" Data="@machine" ReadOnly="true">
                        <DxFormLayoutGroup Caption="Machine Config" CssClass="rounded">
                            <DxFormLayoutItem Caption="Name">
                                <DxTextBox Text="@machine?.Name" ReadOnly="true" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Enable">
                                <DxCheckBox Checked="@machine?.Enabled" CheckType="CheckType.Switch" ReadOnly="true"></DxCheckBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Max retry count" ColSpanLg="4">
                                <DxSpinEdit Value="@machine?.MaxRetryCount" ReadOnly="true"></DxSpinEdit>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Retry count" ColSpanLg="4">
                                <DxSpinEdit Value="@machine?.RetryCount" ReadOnly="true"></DxSpinEdit>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Auto Retrying" ColSpanLg="4">
                                <DxCheckBox Checked="@machine?.isAutoRetry" CheckType="CheckType.Switch" ReadOnly="true"></DxCheckBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="IP">
                                <DxTextBox Text="@machine?.Ip" ReadOnly="true" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Port">
                                <DxSpinEdit Value="@machine?.Port" ReadOnly="true"></DxSpinEdit>
                            </DxFormLayoutItem>
                            @* <DxFormLayoutItem Caption="@($"{localizer["Connection Type"]}")">
                                <DxComboBox Data="@(connectionType)" @bind-Value="@(machine.ConnectionType)" ReadOnly="true" ValueFieldName="@nameof(ConnectionTypeWrapperClass.Index)" TextFieldName="@nameof(ConnectionTypeWrapperClass.DisplayName)"></DxComboBox>
                            </DxFormLayoutItem> *@
                            <DxFormLayoutItem Caption="Tag Category">
                                <DxComboBox Data="@tagCategories" @bind-Value="@machine.TagCategoryId" ReadOnly="true" ValueFieldName="@nameof(TagCategory.Id)" TextFieldName="@nameof(TagCategory.Name)" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                            </DxFormLayoutItem>
                        </DxFormLayoutGroup>
                        <DxFormLayoutGroup Caption="Runtime data" CssClass="rounded">
                            <DxFormLayoutItem Caption="Status" Field="@nameof(Machine.StatusStr)" ColSpanLg="4" />
                            <DxFormLayoutItem Caption="Running" Field="@nameof(Machine.RunFlag)" ColSpanLg="4">
                                <DxCheckBox Checked="@machine?.RunFlag" CheckType="CheckType.Switch" ReadOnly="true" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Retry" ColSpanLg="4">
                                <DxButton RenderStyle="ButtonRenderStyle.Success" Enabled="@(machine.canManualRetryFlag)" IconCssClass="oi oi-reload"></DxButton>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Error Message" Field="@nameof(Machine.ErrorMsg)" ColSpanLg="12" />
                        </DxFormLayoutGroup>
                    </DxFormLayout>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="0" Column="1">
                <Template>
                    <div>
                        <DxFormLayout>
                            <DxFormLayoutTabPages>
                                <DxFormLayoutTabPage Caption="Basic Tag" Visible="@(machine.hasTags && machine.RunFlag)">
                                    <DxFormLayoutItem ColSpanLg="12">
                                        <div class="h-100 overflow-auto">
                                            <DxGrid Data="@machine.TagCategory.Tags" PageSizeSelectorVisible="true">
                                                <Columns>
                                                    <DxGridDataColumn FieldName="@nameof(Tag.Name)" />
                                                    <DxGridDataColumn FieldName="@nameof(Tag.DataType)">
                                                        <CellDisplayTemplate Context="datatypecontext">
                                                            <div>@((DataType)((int)datatypecontext.Value))</div>
                                                        </CellDisplayTemplate>
                                                    </DxGridDataColumn>
                                                    <DxGridDataColumn FieldName="@nameof(Tag.UpdateByTime)" />
                                                    <DxGridDataColumn FieldName="@nameof(Tag.ValueString)" />
                                                    <DxGridDataColumn FieldName="@nameof(Tag.LastChangedTime)" DisplayFormat="G" />
                                                    <DxGridDataColumn FieldName="@nameof(Tag.LastUpdateTime)" DisplayFormat="G" />
                                                    <DxGridDataColumn>
                                                        <CellDisplayTemplate Context="btncontext">
                                                            <div class="d-flex justify-content-center">
                                                                <DxToolbar>
                                                                    <Items>
                                                                        <DxToolbarItem Visible="@(!(btncontext.DataItem as Tag).UpdateByTime)" Enabled="@(!(btncontext.DataItem as Tag).UpdateByTime)" BeginGroup="true" IconCssClass="oi oi-loop"></DxToolbarItem>
                                                                        <DxToolbarItem BeginGroup="true" IconCssClass="oi oi-location" Click="@(()=> TagClicked(btncontext.DataItem))"></DxToolbarItem>
                                                                    </Items>
                                                                </DxToolbar>
                                                            </div>
                                                        </CellDisplayTemplate>
                                                    </DxGridDataColumn>
                                                </Columns>
                                            </DxGrid>
                                        </div>
                                    </DxFormLayoutItem>
                                </DxFormLayoutTabPage>
                            </DxFormLayoutTabPages>
                        </DxFormLayout>
                    </div>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>

    <DxPopup @bind-Visible="@SetTagVisible" CloseOnOutsideClick="false" ShowHeader="true" ShowFooter="false">
        <HeaderTemplate>
            <div class="w-100 p-3 border border-bottom">
                <DxToolbar>
                    <Items>
                        <DxToolbarItem IconCssClass="oi oi-x" Click="CloseSetTagPopup" RenderStyle="ButtonRenderStyle.Danger" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" RenderStyleMode="ToolbarItemRenderStyleMode.Contained" />
                    </Items>
                </DxToolbar>
            </div>
        </HeaderTemplate>
        <BodyTemplate>
            <TagValueSetting TagParam="@targetTag" TagValueSubmit="TagValueSubmit" />
        </BodyTemplate>
    </DxPopup>
}


@code {
    [Parameter]
    public Machine? machine { get; set; }
    private bool hasMachine => machine is not null;

    private IEnumerable<TagCategory> tagCategories = new List<TagCategory>();
    //private IEnumerable<ConnectionTypeWrapperClass> connectionType => machineService.GetMachin
    private Tag? targetTag;
    private bool tagSelected => targetTag is not null;


    private bool SetTagVisible = false;

    protected override async Task OnInitializedAsync()
    {
        if (hasMachine)
        {
            await RetriveTagCategory();
            machine.MachineStatechangedAct += StatusUpdate;
            machine.TagsStatechangedAct += UIUpdate;
            machine.UIUpdateAct += UIUpdate;
        }
    }

    void IDisposable.Dispose()
    {
        if (hasMachine)
        {
            machine.MachineStatechangedAct -= StatusUpdate;
            machine.TagsStatechangedAct -= UIUpdate;
            machine.UIUpdateAct -= UIUpdate;
        }

    }

    private async Task RetriveTagCategory()
    {
        tagCategories = await machineService.GetAllTagCategories();
    }

    private async void StatusUpdate(Status status)
    {
        await InvokeAsync(StateHasChanged);
    }

    private async void UIUpdate()
    {
        await InvokeAsync(StateHasChanged);
    }


    private void ShowSetTagPopup()
    {
        SetTagVisible = true;
    }
    private void CloseSetTagPopup()
    {
        SetTagVisible = false;
    }

    private void TagClicked(Object obj)
    {
        targetTag = obj as Tag;
        if (tagSelected)
        {
            ShowSetTagPopup();
        }
    }

    private async Task TagValueSubmit(Object obj)
    {
        await machineService.SetMachineTag(machine.Name, targetTag.Name, obj);
        CloseSetTagPopup();
    }

}
